<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Milk</string>
		<key>price</key>
		<string>2.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bread</string>
		<key>price</key>
		<string>3.15</string>
	</dict>
</array>
</plist>
